<web-app>
   <servlet>
      <display-name>Area Calculator Service</display-name>
      <servlet-name>area.ApplicationConfig</servlet-name>
      <init-param>
         <param-name>javax.ws.rs.ApplicationConfig</param-name>
         <param-value>area.ApplicationConfig</param-value>
      </init-param>
   </servlet>
</web-app>